<!-- Ordenes -->
<div class="pagosdiv panels" style="display:list-item;">
    <div class="facturavir">
        <div class="contf">
            <label class="ttfac">ORDENES POR ENTREGAR</label>
            <div id="contenedor"></div>        
    </div>
</div>   
<div style="height:100px;"></div> 
</div>

<!-- Rutas -->
<div class="vermapa panels" style="min-height:500px">
	<div id="gmap-route" class="gmap"></div>	
    <div class="pedidotar">
        <div class="cont"><span id="min"></span> Min. de la ruta</div>
    </div>
</div>

<!-- Detalles -->
<div class="detalles panels">
	<div class="reds">
		<div id="route"></div>
	</div>
</div>

<!-- Notificaciones -->
<div class="buffet notificaciones panels">
  <div class="felicitation">
    <h1>Notificaciones</h1>
    <div class="feli_re">
      <h3>¿A quien deseas notificar?</h3>
      </br>
      <div class="checkbox">
        <label><input type="checkbox" name="notiCocina" id="notiCocina" /> Cocina</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="notiCliente" id="notiCliente" /> Cliente</label>
      </div>      
      <div class="checkbox">
        <label><input type="checkbox" name="notiClientes" id="notiClientes" /> Todos los clientes</label>
      </div>                   
      <div class="text">
        <input type="text" name="cliente" id="cliente" value="" placeholder="Cliente" />
        <input type="hidden" name="h_cliente" id="h_cliente" value="" />
      </div> 
      <div>
        <textarea id="comentarios" name="comentarios" rows="5" cols="50" placeholder="Comentarios"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-success">Enviar</button>
      </div> 
    </div> 
  </div>
</div>
 <link rel="stylesheet" href="css/jquery-ui.css">
<script src="js/jquery-ui.js"></script>
 <script>
$(function() {
  $("#cliente").keyup(function () {
    value = $(this).val();
    if(value.length>2){
      $( "#cliente" ).autocomplete({
        source: ajaxrest.getClients("q="+value+"&token="+localStorage.token),
        minLength:3,
        select: function(event, ui) {$("#h_cliente").val(ui.item.id);}
      });
      } 
    });
});
</script>